.chip-field {
    margin-bottom: 12px;
    height: 44px;
}

.chip-field__label {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    display: block;
    color: #757575;
    height: 20px;
    line-height: 20px;
}

.chip-field__value {
    display: inline-block;
    padding: 4px 8px;
    background-color: #e4e4e4;
    border-radius: 16px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: #333333;
    margin-top: 4px;
}