.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-container {
    background-color: white;
    width: 750px;
    max-height: 90%; /* Keeps the modal's height in check */
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden; /* Hides overflow from overflowing content */
}

.modal-header {
    height: auto;
    padding: 24px 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    box-sizing: border-box;
}

.modal-body {
    padding: 10px 24px 0 24px;
    font-family: 'Roboto', sans-serif;
    flex-grow: 1;
    overflow-y: auto;
}

.modal-field {
    position: relative;
    margin-bottom: 12px;
}

.modal-field:last-child {
    margin-bottom: 0;
}

.modal-label {
    position: absolute;
    top: -2px;
    left: 10px;
    background-color: #ffffff;
    padding: 0 5px;
    font-size: 12px;
    font-weight: 400;
    color: #757575;
}

.modal-input {
    height: 52px;
    width: calc(100% - 8px);
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 8px;
    padding: 0 8px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 16px 24px;
}

.modal-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.cancel-button {
    background-color: #f0f0f0;
    color: #555;
}

.create-button {
    background-color: #26bad4;
    color: #ffffff;
}

.create-button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    opacity: 0.6;
}

.modal-warning {
    display: flex;
    justify-content: center;
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px 15px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
}
