.introducing-broker-container {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.introducing-broker-card-header {
    padding: 16px;
}

.introducing-broker-header {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    color: #212121;
    line-height: 32px;
}

.introducing-broker-sub-header {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    color: #666666;
    line-height: 20px;
}

.introducing-broker-card-content {
    padding: 16px 16px 0 16px;
}

.introducing-broker-details-container {
    margin-top: 16px;
}

.introducing-broker-detail {
    margin-bottom: 12px;
    height: 44px;
}

.introducing-broker-label {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    display: block;
    color: #757575;
    height: 20px;
    line-height: 20px;
}

.introducing-broker-value {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    display: block;
    color: #000000;
    height: 20px;
    line-height: 20px;
    margin-top: 4px;
}
