.app-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    padding: 0 1rem;
    background-color: #26bad4;
    color: white;
}

.app-bar__title-container {
    display: flex;
    align-items: center;
}

.app-bar__title-logo {
    height: 32px;
    margin-right: 0.5rem;
}

.app-bar__title-text {
    font-size: 10px;
    font-weight: 400;
}

.app-bar__right-section {
    display: flex;
    align-items: center;
}

.app-bar__search-bar-container {
    display: flex;
    align-items: center;
    background-color: #46c4da;
    border-radius: 4px;
    width: 200px;
    height: 36px;
    color: #ffffff;
}

.app-bar__search-bar {
    display: flex;
    align-items: center;
    padding: 6px 16px;
}

.app-bar__search-bar input {
    border: none;
    outline: none;
    flex-grow: 1;
    margin-left: 8px;
    background-color: #46c4da;
    color: #ffffff;
}

.app-bar__search-bar input::placeholder {
    color: #ffffff;
}

.app-bar__search-icon {
    color: rgba(255, 255, 255, 0.85);
}

.app-bar__icon-buttons-container {
    display: flex;
    align-items: center;
}

.app-bar__icon-button {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.app-bar__icon-button svg {
    width: 24px;
    height: 24px;
}
