.sidebar {
    background-color: #333333;
    padding-top: 30px;
    margin-top: 4px;
}

.sidebar__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar__item {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 8px;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    cursor: pointer;
}

.sidebar__icon {
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaaaaa;
    margin-right: 0.5rem;
}

.sidebar__icon svg {
    width: 24px;
    height: 24px;
}

.sidebar__item--selected {
    background-color: #4b545b;
}
