.quotation-page {
    padding: 16px;
}

.quotation-content {
    display: flex;
    align-items: flex-start;
}

.quotation-detail-wrapper {
    flex: 3;
    padding-right: 16px;
}

.overview-submission-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.quotation-overview {
    margin-bottom: 16px;
}
