.managing-broker-container {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.managing-broker-card-header {
  padding: 16px;
}

.managing-broker-header {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  color: #212121;
  line-height: 32px;
}

.managing-broker-sub-header {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  color: #666666;
  line-height: 20px;
}

.managing-broker-card-content {
  padding: 16px 16px 0 16px;
}

.managing-broker-details-container {
  margin-top: 16px;
}
